body {
    display: flex;
    margin: 0;
}

.content {
    margin-left: 360px;
    margin-top: 18px;
    margin-right: 50px;
    padding: 20px;
    width: calc(100% - 300px);
    background-color: #FDFDFD;
}

.content h2 {
    color:#713737;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 30px;
}

.content h3 {
    color:#713737;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 22px;
}

.sidenav {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #713737;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav a, .dropdown-btn {
    position: relative;
    padding: 20px 8px 20px 1px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #FDFDFD;
    font-weight: 500;
    display: block;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    font-family: 'Playfair Display', serif;
    border: none;
}

.logo-container {
    margin-bottom: 20px;
}



.logo-container h1 {
    color: #FDFDFD;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 45px;
    line-height: 70%;
}

.logo-container p {
    color: #FDFDFD;
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
}

.logout-container {
    margin-top: auto;
    margin-bottom: 70px;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #713737;
    background-color: #FDFDFD;
}

.sidenav a.active {
    color: #713737;
    background-color: #FDFDFD;
}

.dropdown-container a:hover {
    background-color: #713737;
    color: #FDFDFD;
}

.dropdown-container a {
    color: #713737;
}

.main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
}

.dropdown-container {
    display: none;
    background-color: #FDFDFD;
    padding-left: 0px;
    color: #713737;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


.content {
    margin-left: 360px;
    margin-top: 18px;
    margin-right: 50px;
    padding: 20px;
    width: calc(100% - 300px);
    background-color: #FDFDFD;
    overflow-x: auto; /* Allow horizontal scrolling */
}


/* Table Styling */

.content table {
    width: 100%; /* Full width */
    min-width: 100%;
    border-collapse: collapse; /* No space between borders */
    margin-top: 20px; /* Space above the table */
    max-height: 300px; /* Limit the height of the table */
    overflow-y: auto; /* Allow vertical scrolling */
    display: block; /* Make the table a block element to enable scrolling */
}

/* Adjust the column width */
.content th, .content td {
    border: 1px solid #713737; /* Table borders */
    padding: 20px; /* Padding for each cell */
    text-align: center;
    font-family: sans-serif;
    min-width: 270px; /* Minimum column width to prevent squishing */
}

.content th {
    background-color: #713737; /* Header background color */
    color: #FDFDFD; /* Header text color */
    font-weight: 600;
}

.content tr:nth-child(even) {
    background-color: #FDFDFD;
}

.content tr:hover {
    background-color: #F1E5E5; /* Hover effect */
}


#product-type {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Change the dropdown's appearance when hovered */
#product-type:hover {
    border-color: #888;
    background-color: #f9f9f9;
}